{% extends "app/base.html" %}

{% block content %}

<div class="container-fluid home">
  <div class="row flex-nowrap">
    {% for list in lists_list %}
    <div class="bg-light m-3 p-2 list">
      <h4>{{ list.title }}
        <a href="{% url 'app:lists_update' list.pk %}" class="text-dark"><i class="far fa-edit fa-xs"></i></a>
        <a href="{% url 'app:lists_delete' list.pk %}" class="text-dark"><i class="far fa-trash-alt fa-xs"></i></a>
      </h4>

      {% for card in list.card_set.all %}
      <a href="{% url 'app:cards_detail' card.pk %}" class="card m-3">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <<footer>
            <small class="text-muted">作成者： {{  card.user.username }}</small>
          </footer>
        </div>
      </a>
      {% endfor %}
      <a href="{% url 'app:cards_create_from_home' list.pk %}" class="text-dark"><i class="far fa-plus-square"></i>さらにカードを追加</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
